body .topHeading {
    line-height: 1.6;
    font-weight: 500;
  }
  body .container {
    padding: 1.5rem;
  }
  body .asterTwo {
    color: red;
    margin-top: 20px;
    font-weight: 600;
    font-style: italic;
  }
  body .block {
    margin-top: 20px;
   
  }
  body .blockTwo {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
   
  }
  
  body .button {
    margin: 15px 0px 0px 5px;
    text-transform: none;
  }
  