body .container {
    padding: 1.5rem ;
  }

  body  .topHeading {
    line-height: 1.6;
    font-weight: 500;
  }
  body  .block {
    margin-top: 20px ;
  }

  body  .aster {
    color: red ;
  }
  body  .asterTwo {
    color: red ;
    margin-top: 20px ;
    font-weight: 600 ;
    font-style: italic;
  }
  body  .footer {
    margin-top: 20px ;
  }
  body  .button {
    margin: 10px ;
    text-transform: none ;
  }
  