body .topHeading {
    line-height: 1.6;
    font-weight: 500;
  }
  body .container {
    padding: 1.5rem;
  }
  body .aster {
    color: red;
  }
  
  body .block {
    margin-top: 15px;
  }
  
  body .button {
    margin-top: 15px;
    text-transform: none;
  }
  body .headerText{
    display: flex;
    justify-content: center;
  }