body .modal {
  padding: 0;
  overflow: auto;
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  height: 30%;
}

body .container {
  padding: 10px 10px;
  margin: auto;
  overflow: hidden;
}
body .icon {
  cursor: pointer;
}
body .heading {
  color: orangered;
}

body .header {
  display: flex;
  justify-content: space-between;
}

body .aster {
  color: red;
}

body .footer {
  margin-top: 15px;
  display: flex;
  justify-content: left;
}

body .button {
  text-transform: none;
  margin: 15px 10px 0px 0px;
}
