body .modal {
  padding: 0;
  overflow: auto;

  max-width: 950px;
  margin: auto;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  height: 100%;
}

body .container {
  padding: 10px 10px;
  margin: auto;
  overflow: hidden;
}
body .icon {
  cursor: pointer;
}
body .heading {
  color: orangered;
}

body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .headerTwo {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
body .aster {
  color: red;
}
body .asterTwo {
  color: red;
  font-weight: 500;
}
body.divider {
  margin: 40px 0px 10px 0px;
}
body .headingOne {
  margin-left: 10px;
}
body .headingTwo {
  margin-left: 10px;
  font-weight: 800;
  margin-top: 10px;
}

body .top {
  margin-top: 15px;
}
body .time {
  margin-left: 2px;
}
body .timeTwo {
  margin-left: auto;
}
