body .container {
  min-height: 100% ;
  min-width: 100% ;
  padding: 20px ;
  margin-top: 20px;
  overflow: hidden;
}

 
body .topHeading {
  line-height: 1.6;
  font-weight: 500;
  padding: 10px;
}

body .header {
  display: flex;
  align-items: center ;
  justify-content: space-between;
}
body .heading1 {
  line-height: 1.6;
  font-weight: 500;
}

body .headingTwo {
  line-height: 1.6;
  font-weight: 600 ;
}
body .boxOne {
  margin-top: 20px ;
}
body .space {
  padding: 10px 0px 10px 10px;
}
body .boxTwoArea {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
body .spaceTwo {
  padding: 10px 15px ;
}


body .checkbox {
  margin-left: auto ;
}

body .boxOneArea {
  padding: 10px ;
}

body .buttonBox {
  padding: 20px 15px ;
  display: flex;
  justify-content: center;
}
body .boxFont {
  font-size: 25px ;
  color: white ;
}

body .footer {
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
 
}

body .contentBoxOne {
  margin-top: 20px ;
  overflow: hidden;
}
body .contentBoxSpaceOne {
  display: flex ;
  align-items: center ;
  justify-content: space-around ;
}

body .contentBoxSpaceTwo {
  padding: 5px ;
}

body .contentBoxSpaceThree {
  padding: 3.5px 10px ;
}

body .button3 {
  text-transform: none ;
  margin: 15px ;
  font-weight: 500 ;
  padding: 15px ;
}
