body .container {
  padding: 1.5rem ;
}
body .button {
  text-transform: none ;
}
body .textField {
  margin-top: 20px ;
}

body .footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
body .map{
    margin-top: 10px ;
}
