body .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .title {
  font-size: 14px;
  color: #eb6322;
  text-transform: uppercase;
  display: flex;
  font-weight: 700;
}
body .icon {
  color: grey;
  margin-right: 20px;
  cursor: pointer;
}

body .icon2 {
  font-size: 3rem;
  color: white;
  background-color: #eb6322;
}

body .header {
  margin: 0;
  padding: 0;
  height: 40%;
  width: 100%;
  overflow: hidden;
}
body .subHeading {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: rgb(95, 94, 94);
}
