body .container {
  padding: 1.5rem !important;
}
body .topHeading {
  line-height: 1.6;
  font-weight: 500;
}
body .search {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
body .heading2 {
  color: rgb(100, 100, 234) !important;
}
body .block {
  margin-top: 20px;
}
body .divider3 {
  width: 4px !important;
  height: 40px !important;
  color: rgb(0, 0, 0) !important;
}
body .table {
  margin-top: 15px !important;
}
body .icon {
  cursor: pointer;
}
body .headerRight {
  display: flex;
  justify-content: right;
}
body .button {
  text-transform: none;
  margin-left: 5px;
}
body .textField {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
body .blockTwo {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}
body .aster {
  color: red;
}
