body .container {
  padding: 1.5rem;
}

body .textField {
  margin-top: 20px !;
}
body .textFieldOne {
  margin-bottom: 20px !;
}
body .footer{
  margin-top: 15px !;

}
body .divider{
  margin: 20px 0px!;
}
body .button{
  text-transform: none !;
}