body .container {
  padding: 1.5rem;
}
body .textField {
  margin-top: 20px ;
}
body .topHeading {
  line-height: 1.6;
  font-weight: 500;
}
body .footer {
  margin-top: 15px ;
}
body .footerRight {
    margin-top: 15px ;
    margin-left: auto;
  }
body .button {
  text-transform: none;
  display: flex;
  margin-left: 15px;
}
body .divider3 {
  width: 4px;
  height: 40px;
  color: rgb(0, 0, 0);
}

body .heading2 {
  color: rgb(100, 100, 234);
}
body .table {
    margin-top: 15px;
  }
  body .search {
    margin: 15px 0px 0px 0px;
  }
