body .container {
  padding: 1.5rem ;
  overflow: hidden ;
}

body .heading {
  font-weight: 600 ;
   margin-bottom: 5px ;
}
body .topHeading {
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 15px ;
}

body .textField {
  display: flex;
  flex-direction: column ;
  margin: 40px 15px 0px 0px ;
}

body .header {
  padding: 20px 15px;
}

body .button2 {
  padding: 15px ;
  text-transform: none ;
  margin: 10px ;
}

body .text {
  margin-bottom: 15px ;
}


body .divider {
  width: 1px ;
  height: auto ;
  margin-left: 20px ;
}
body .date {
  display: flex;
}
body .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .heading3 {
  display: flex;
  justify-content: center;
}
