body .container {
  padding: 1.5rem ;
}

body .heading {
  margin-right: 5px ;
}
body .textField {
  display: flex;
  align-items: center;
  margin: 20px 15px 0px 0px ;
}
body .topHeading {
  line-height: 1.6;
  font-weight: 500;
}
body .divider3 {
  width: 4px ;
  height: 40px ;
  color: rgb(0, 0, 0) ;
}
body .search {
  margin: 20px 0px 0px 0px ;
}
body .heading2 {
  color: rgb(100, 100, 234) ;
}
body .button {
  margin-left: 5px ;
  text-transform: none ;
}
body .table {
  margin-top: 15px ;
  width: 100%;
}
body .header {
  margin-top: 10px ;
  display: flex;
  justify-content: flex-end;
}
body .select {
  margin-left: 15px;
}
body .headingThree {
  text-transform: none;
  margin-left: 15px ;
}
body .headingOne {
  cursor: pointer ;
}
body .headerOne {
  margin-left: 28px ;
}
